html {
  font: 120%/1.5 'Merriweather', serif;
}
svg {
  width: 100%;
}
/* Type Defaults */
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.17em;}
h4 {font-size: 1em;}
h5 {font-size: 0.83em;}
h6 {font-size: 0.75em;}
h1, h2, h3, h3, h4, h5, h6 {
  color: #222;
  font-family: 'Averia Serif Libre', cursive;
  background: url('../img/textures/witewall_3.png');
  padding: 10px 20px 0px 20px;
  margin: 0px 0 0 0;
}
p {
  line-height: 1.5;
  margin: 0 0 1em;
  font-weight: 400;
  padding: 20px 20px 0 20px;
  color: #111;
  text-align: justify;
  background: url('../img/textures/witewall_3.png');
  margin: 0;
}
section p:first-of-type:before {
  content: "\00b6";
  font-size: 3em;
  line-height: 1.2em;
  float: left;
  padding: 0 .125em 0 .125em;
  height: 50px;
  display: inline-block;
  margin-right: 5px;
  color: #333;
}
p~p {
  text-indent: 2em;
  margin-top: 0;
  padding-top: 0;
}
p:last-of-type {
  padding-bottom: 20px;
}
p+em {
  padding-bottom: 20px;
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
  font-weight: 400;
  margin: 0px;
  padding: 0px 20px 12px 20px;
  background: url('../img/textures/witewall_3.png');
  display: block;
  color: #555;
  font-size: 0.83em;
}
br {
  display: none;
}
/* LightBox for Color/Textures */
div[class*="color-"], div[class*="pattern-"] {
  cursor: pointer;
}
div[class*="color-"]:after, div[class*="pattern-"]:after {
  position: fixed;
  background: inherit;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  content: "";
  height: 50%;
  width: 50%;
  padding: 1em;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .25s ease-out;
  -moz-transition: opacity .25s ease-out;
  -o-transition: opacity .25s ease-out;
  transition: opacity .25s ease-out;
  box-shadow: 0px 0px 0px 9000px rgba(0,0,0,0.75);
  border: 5px solid rgba(255,255,255,0.5);
}
div:focus:after {
  visibility: visible;
  opacity: 1;
}
/* Remove Margin from sections */
section {
  margin: 0;
  border-bottom: 1px solid #aaa;
}
/* Floats color section and pattern section */
section:nth-last-of-type(1), section:nth-last-of-type(2) {
  width: 50%;
  float: left;
}
/* Places the colors/textures in the right of the section */
section:nth-last-of-type(1) div, section:nth-last-of-type(2) div{
  float: right;
}
/* Styles the em text inside of the sections with colors and patterns */
section:nth-last-of-type(1) em, section:nth-last-of-type(2) em{
  display: block;
  text-align: center;
  padding: 25px 0 25px 0;
  font-size: 1.17em;
  color: #222;
}
/* default Styles colors/patterns */
.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
  border: 1px solid #000;
  float: left;
  margin: 15px 15px 0 15px;
  height: 50px;
  width: 50px;
  outline: none;
  box-shadow:
  0 0 0 5px rgba(0,0,0,0.75),
  0 0 0 10px rgba(255,255,255,0.75);
}
/* default colors for hyperlinks */
a:link, a:active, a:hover, a:visited {
  color: cornflowerblue;
  text-decoration: none;
}
/* color choices */
.color-1 {
  background: cornflowerblue;
  margin-right: 30px;
}
.color-2 {
  background: #444;
}
.color-3 {
  background: #111;
}
/* Pattern Choices */
.pattern-1 {
  background: url('../img/textures/stardust.png');
  margin-right: 30px;
}
.pattern-2 {
  background: url('../img/textures/witewall_3.png');
}
.pattern-3 {
  background: url('../img/textures/stardust.png');
}
/* Container padding Relative is to keep container over bg in safari */
div.container {
  padding-top: 20px;
  position: relative;
}
/* This is the container with the most content */
.container section:nth-of-type(2) {
  position: relative;
}
.container section:nth-of-type(2):after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0px;
  border-bottom: 20px solid #aaa;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: calc(100% - 20px);
}
/* Footer */
.container:after {
  content: "Jeremy Meltingtallow 2014";
  background: url('../img/textures/witewall_3.png');
  width: calc(100% - 30px);
  display: block;
  text-align: right;
  padding: 10px 30px 10px 0;
  font-size: .75em;
}
/* Moving Background Wrapped Around Container */
.bg {
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.bg:after {
  position: absolute;
  height: 9999px;
  width: 9999px;
  top: -5000px;
  left: -5000px;
  content: "";
  background: url('../img/textures/stardust.png');
}
.bg:after  {
  -webkit-animation: space 360s infinite normal both linear;
  -moz-animation:    space 360s infinite normal both linear;
  -o-animation:      space 360s infinite normal both linear;
  animation:         space 360s infinite normal both linear;
}
@-webkit-keyframes space { 
  from { 
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
  } 
  to {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}

/* z-index */
.bg {
  z-index: -2;
}
.bg:after {
  z-index: -2;
}
div.container {
  z-index: 0;
}
/* This is the container with the most content */
.container section:nth-of-type(2) {
  z-index: -1;
}
